.f1{
    width: 50%;
    margin-top: 50px;
}
.contct{
    margin-bottom:100px ;
    margin-top: 50px;
}

@media (max-width:768px) {
    .f1{
        width: 75%;
    }
}
@media (max-width:425px) {
    .f1{
        width: 100%;
        padding: 20px;
        margin-top: 0px;
    }
}